* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(54, 63, 72, 1);
    height: 200px;
}

.header-title {
    padding-left: 45%;
    padding-top: 50px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.header img{
    width: 30px;
    padding-top: 30px;
    display: inline-block;
}
.header-sub{
    display: flex;
    align-items: end;
}
.header h3{
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}
.foto img{
    width: 300px;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 50%;
}