* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(54, 63, 72, 1);
    height: 200px;
}

.header-title {
    padding-left: 45%;
    padding-top: 50px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.header img{
    width: 30px;
    padding-top: 30px;
    display: inline-block;
}
.header-sub{
    display: flex;
    align-items: end;
}
.header h3{
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}
.body{
    display: flex;
}
.body img{
    width: 300px;
    margin: 6%;
    border-radius: 50%;
    border: 5px solid rgba(54, 63, 72, 1)
}
.body p{
    width: 500px;
    padding-top: 12%;
    position: absolute;
    padding-left: 50%;
    padding-right: 40%;
    height: 250px;
    font-family: sans-serif;
    white-space: pre-wrap;

}
.body h2{
    padding-top: 9%;
    padding-left: 12%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p1{
    margin-top: 80px;
}
.page2{
    background-color: rgba(54, 63, 72, 1);
    height: 680px;
}
.githubstats{
    /* background-color: red; */
    width:500px;
    height: 400px;
    padding: 20px;
    /* border: 20px solid blue; */
    margin-left: 50px;
    position: relative;
    top: 100px;
    background-color: rgb(19, 13, 17);  

}
.githubstats-stats{
    /* background-color: blueviolet; */
    padding-top: 100px;
    padding-left: 5%;
    position: relative;
    top: -30px;
}
.githubstats-most img{
   width: 100%;
   /* background-color: red; */
   position: relative;
   top: -60px;
}
.border-gradient{
    border:10px solid;
    border-radius: 30px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left,#232126, #872634);
}